{% extends "index.html"%}
{% block body%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>job listing</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <h1>Job listing</h1>

<div class="container">
 <h4>welcome to e-kazi where your dream career can be achieved</h4>

 <p>Available jobs</p>

 <form class="d-flex" 
            method="GET">
              <input class="form-control me-2" type="search" placeholder="Search for available jobs" name="q">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>


</div>
 <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/administrative" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Category
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="/administrative">administrative</a></li>
      <li><a class="dropdown-item" href="/login">Technical works</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="/login">Trending</a></li>
    </ul>
 </li>
  <br>
  <br>
  <br>
  <br>
  <br>

<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">💼 Programme Administrator, Graduate Programmes</h5>
          <p class="card-text">Strathmore University, Nairobi</p>
          <p>Closing in 4 weeks</p>
          <a href="/apply" class="btn btn-primary">apply</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">💼 COMMUNITY REPRESENTATIVE</h5>
          <p class="card-text">Poa Internet , Custom location,</p>
          <p>closing in 3 weeks</p>
          <a href="/apply" class="btn btn-primary">apply</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">💼 Youth Empowerment & Career Centre Coordinators</h5>
          <p class="card-text">DanChurchAid (DCA), Kenya</p>
          <p>Closing in 4 weeks</p>
          <a href="/apply" class="btn btn-primary">apply</a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>

    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼 Office Secretary</h5>
            <p class="card-text">County Government of Samburu, Samburu</p>
            <p>closing in 3 weeks</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>
      <br>
<br>
<br>
<br>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼 Junior Advisor- Business Scouts for Development</h5>
            <p class="card-text">GIZ KE, Nairobi</p>
            <p>closing in 1 weeks</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>

      <br>
      <br>
      <br>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼  Account Executive - Supply Chain Finance</h5>
            <p class="card-text">County Government of Samburu, Samburu</p>
            <p>closing in 3 weeks</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼 Office Secretary</h5>
            <p class="card-text">LISHA FUND , Nairobi</p>
            <p>closing in 7 weeks</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>


      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼 Procurement and Accounts Clerk</h5>
            <p class="card-text">MP SHAH HOSPITAL, Nairobi</p>
            <p>closing in 8 days</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>


      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼 Office Secretary</h5>
            <p class="card-text">County Government of Samburu, Samburu</p>
            <p>closing in 3 weeks</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>


      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼 Office Secretary</h5>
            <p class="card-text">County Government of Samburu, Samburu</p>
            <p>closing in 3 weeks</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>


      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼 Office Secretary</h5>
            <p class="card-text">County Government of Samburu, Samburu</p>
            <p>closing in 3 weeks</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>


      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼 Office Secretary</h5>
            <p class="card-text">County Government of Samburu, Samburu</p>
            <p>closing in 3 weeks</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼 Office Secretary</h5>
            <p class="card-text">County Government of Samburu, Samburu</p>
            <p>closing in 3 weeks</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼 Office Secretary</h5>
            <p class="card-text">County Government of Samburu, Samburu</p>
            <p>closing in 3 weeks</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼 Office Secretary</h5>
            <p class="card-text">County Government of Samburu, Samburu</p>
            <p>closing in 3 weeks</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>
      <br>
      <br>
       <br>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼 Office Secretary</h5>
            <p class="card-text">County Government of Samburu, Samburu</p>
            <p>closing in 3 weeks</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>
      <br>
       <br>
       <br>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼 Office Secretary</h5>
            <p class="card-text">County Government of Samburu, Samburu</p>
            <p>closing in 3 weeks</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>


      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼 Office Secretary</h5>
            <p class="card-text">County Government of Samburu, Samburu</p>
            <p>closing in 3 weeks</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>


      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼 Office Secretary</h5>
            <p class="card-text">County Government of Samburu, Samburu</p>
            <p>closing in 3 weeks</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼 Office Secretary</h5>
            <p class="card-text">County Government of Samburu, Samburu</p>
            <p>closing in 3 weeks</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>


      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼 Office Secretary</h5>
            <p class="card-text">County Government of Samburu, Samburu</p>
            <p>closing in 3 weeks</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>
        <br>
        <br>
        <br>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼 Office Secretary</h5>
            <p class="card-text">County Government of Samburu, Samburu</p>
            <p>closing in 3 weeks</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼 Office Secretary</h5>
            <p class="card-text">County Government of Samburu, Samburu</p>
            <p>closing in 3 weeks</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼 Office Secretary</h5>
            <p class="card-text">County Government of Samburu, Samburu</p>
            <p>closing in 3 weeks</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼 Office Secretary</h5>
            <p class="card-text">County Government of Samburu, Samburu</p>
            <p>closing in 3 weeks</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼 Office Secretary</h5>
            <p class="card-text">County Government of Samburu, Samburu</p>
            <p>closing in 3 weeks</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼 Office Secretary</h5>
            <p class="card-text">County Government of Samburu, Samburu</p>
            <p>closing in 3 weeks</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">💼 Office Secretary</h5>
            <p class="card-text">County Government of Samburu, Samburu</p>
            <p>closing in 3 weeks</p>
            <a href="/apply" class="btn btn-primary">apply</a>
          </div>
        </div>
      </div>
  </div>
  
</body>
<script>
    $(document).ready(function(){
        alert("e-kazi your dream career founder")
        $(".d-flex").on("input",function(e){
               textinlivebox = $(".d-flex").val();
               $.ajax({
                   method:"post",
                   url:"/livesearch",
                   data:{text:textinlivebox},
                   success:function(res){
                       console.log(res);
                   }
               })
               
        });
    })
</script>
</html>

    
{% endblock%}